html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.label-dkyS18j2.label-cJj3kEO9.start-dkyS18j2.bottom-dkyS18j2.large-dkyS18j2.large-cJj3kEO9.js-copyright-label{
  visibility: hidden !important;
}